#App.css
.note-individual {
  border: 1px solid black;
  display: "flex";
  flex-direction: column;
 }
.light-theme {
  color: #000000;
  background: #eeeeee;
  border:#000000;
}
.dark-theme {
  color: #ffffff;
  background: #222222;
  border: #eeeeee;
}
 .app-container {
  display: "flex";
  flex-direction: column;
  transition: background-color 0.2s, color 0.2s;
 }
 .note-form {
  display: "flex";
  flex-direction: column;

 }
 body {
  margin: 20px;
  background-color: lightgrey;
  transition: background-color 0.2s, color 0.2s;
 }
 
 .app-container {
  grid-template-columns: 1fr;
 }
 
 @media (min-width: 600px) {
  .app-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
  }
 }
 
 .notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 20px;
  margin-left: 50px;
 }
 
 .note-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
 }

 .note-item.light-theme {
  border: 3px solid #ccc;
 }
  .note-item.dark-theme {
  border: 3px solid white;
  }
 
 .notes-header {
  display: flex;
  justify-content: flex-end;
  transition: background-color 0.2s, color 0.2s;
 }
 
 .notes-header button {
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  max-width: fit-content;
  transition: background-color 0.2s, color 0.2s;

 }
 
 h2 {
  margin: 0;
 }
 
 .note-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
 }
 
 textarea,
 input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
 }
 
 .note-form button {
  border-radius: 5px;
  background-color: rgb(64, 154, 184);
  border: none;
  padding: 10px;
  font-size: 16px;
  color: white;
 }
 
 .note-form button:hover {
  background-color: rgb(106, 175, 198);
  cursor: pointer;
 }
 
 .edit-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
 }
 
 .edit-buttons button {
  flex: 1;
 }
 
 .edit-buttons button:last-of-type {
  background-color: rgb(220, 89, 89);
  color: white;
 }
 

 
 .favorites-list{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: red;
  margin:  25px;
  transition: background-color 0.2s, color 0.2s;
 }
  .favorites-list.light-theme{
    color: black;
    border: 3px solid #ccc;
  }
  .favorites-list.light-theme h2{
    color: red;
  }
  .favorites-list.dark-theme{
    color: white;
    border: 3px solid rgb(64, 154, 184);
  }
 .ToggleThemeButton button{
  border-radius: 5px;
  background-color: rgb(64, 154, 184);
  border: none;
  padding: 10px;
  font-size: 16px;
  color: white;
 }
 .ToggleThemeButton button:hover{
  background-color: rgb(106, 175, 198);
  cursor: pointer;
 }
 .notes-header.light-theme{
  color:#000000
 }
 .notes-header.dark-theme{
  color: white;
 }
 .ToggleThemeButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 20px;
}


